*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
}

.main-container{
    background-color: rgb(25, 162, 174);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.top-pattern{
    position: absolute;
    top: -50%;
    left: 0;
}

.bottom-pattern{
    position: absolute;
    bottom: -50%;
    right: 0;
}

.subject{
    position: relative;
    z-index: 2;
    background-color: white;
    min-height: 370px;
    height: auto;
    min-width: 375px;
    width: 20%;
    margin: 20vh auto;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    box-shadow: 8px 8px 25px rgba(0,0,0, 0.4);
}

.details{
    background-image: url("./images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    padding-top: 26%;
}

.profile{
    border-radius: 50%;
    border: 6px solid white;
}

.plain-text{
    display: flex;
    width: 50%;
    margin: 1rem auto;
    justify-content: space-evenly;
}

.london{
    margin: 1rem 0;
}

.other-details{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid hsl(227, 10%, 86%);
}

.big-text{
    font-size: 1.3rem;
}
.bold-text{
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}
.small-text{
    font-size: 0.75rem;
    color: hsl(227, 10%, 46%);
    letter-spacing: 1px;
    margin-top: 0.7rem;
    padding-bottom: 10px !important;
}
.thin-text{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}
.attribution{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.attribute > a{
    text-decoration: none;
    transition: color 0.2s ease-in;
}
.attribute > a:hover{
    color: white;
}
@media(max-width: 375px){
    .subject{
        width: 95%;
        min-width: auto;
    }
}